@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 10px;
}

.active-style{
    @apply text-[#185ABC] font-bold
}
@media screen and (max-width: 1024px) {
    .container {
        padding: 0 20px;
    }
}